extends layout

block stylesheets
    if module === 'traffic' || module === 'hotel'
        link(rel="stylesheet", href="/stylesheets/calendar.css")
    link(rel="stylesheet", href="/lib/dropload/dropload.css")
    link(rel="stylesheet", href="/stylesheets/list.css")
block javascripts
    if module === 'traffic' || module === 'hotel'
        script(type='text/javascript', src='/javascripts/jquery.calendar.js')
    //script(type='text/javascript', src='/lib/dropload/dropload.min.js')
    script(type='text/javascript', src='/lib/dropload/dropload.js')
    script.
        var searchName = '#{searchName}';
    script(type='text/javascript', src='/javascripts/list.js')
block content
    include common/footer
    include common/index
    include list/common

    //- 筛选条件
    //a.back-bar(href='javascript:window.history.back(-1);')
    unless module === 'commentList'
        if module === 'traffic'
            .traffic-filter
                .disAdress
                    select
                        option(value="") 出发站
                        each item in data[0].datas
                            option(value=item.value)=item.cname
                    img(src="/images/list/traffic-dire.png", alt="")
                    select
                        option(value="") 终点站
                        each item,index in data[0].datas
                            option(value=item.value)=item.cname
                .startDay
                    span#prevDay 前一天
                    a(href="javascript:;")
                        +formatDate(new Date())
                    span#nextDay 后一天
        else
            - var className = ''
            if module === 'strategy'
                -className ='search-bar-box'
            else if module === 'order' || module === 'refund'
                -className ='member-search-box'
            else if module === 'integral'
                -className ='inter-search-box'
            else
                -className='search-box'
            div#search-h(class='#{className}')
                unless module === 'order' || module === 'integral' || module === 'refund'
                    +search(searchName)
                if module === 'hotel'
                    .traffic-filter.hotel-filter#hotelCalendar
                        .disAdress.clearfix
                            .startDay.fl#beginDate
                                em 入住
                                a(href="javascript:;")
                                    +formatDate(new Date())
                            .startDay.fl#endDate
                                em 离店
                                a(href="javascript:;")
                                    +formatDT(new Date(),1)
                unless module === 'strategy' || module === 'integral'
                    +filter(module,orderStatus)
        unless module === 'strategy' || module === 'traffic' || module === 'integral'
            +panel(module,module === 'order' ? null : data )

    //- 列表
    div(class='drop-box ' + (module === 'strategy' ? 'raiders-list' : (module === 'commentList' ? 'comment-list' : '')) data-module=module)
        case module
            when 'guide'
            when 'shop'
                ul(class="goods-list clearfix")
            when 'traffic'
                ul(class="page-list list-main traffic-list")
            when 'integral'
                ul(class="scored-list")
            default
                ul(class="page-list list-main")
    #mask.mask
    if module === 'traffic' || module === 'hotel'
        #calendar
    #socialShare
    +footer
