extends layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/member.css")
block javascripts
block content
    include common/footer
    header.member-header
        h3.user-name.c-333= data[0].data.realName
        p.header-explian.c-666 welcome
        a.user-face(href='javascript:;')
            if data[0].data.headImg
                img(src=data[0].data.headImg, alt= data[0].data.realName, style="width:100%;height:100%;display:block;")
            else
                i.font-icon.icon-iconfont-geren
        //p.header-explian.me-score
        //    em 等级 #{data.elevelCode}
        //    label 积分： #{data.leaguerScore || 0}
    section
        ul.tab.clearfix.member-tab
            li
                a(href='/list/order?orderStatus=0')
                    i.font-icon.icon-iconfont-daizhifu.dingdan-unpay
                    | 待支付
            li
                a(href='/list/order?orderStatus=1')
                    i.font-icon.icon-iconfont-yizhifu2.dingdan-pay
                    | 待消费
            li
                a(href='/list/order?orderStatus=2')
                    i.font-icon.icon-iconfont-gougou.dingdan-complent
                    | 已完成
            //li
            //    a(href='/list/order?refundStatus=3')
            //        i.font-icon.icon-iconfont-tuikuan.dingdan-refund
            //        | 退款
            li
                a(href='/list/refund?orderStatus=-1')
                    i.font-icon.icon-iconfont-tuikuan.dingdan-refund
                    | 退单
    ul.order-list.member-list
        li
            a(href="/list/order")
                label.lab-title
                    i.font-icon.icon-iconfont-dingdan
                    | 全部订单
                i.font-icon.fr.icon-iconfont-jiantou
    //.page-line
    //ul.order-list.member-list
        li
            label.lab-title(for='')
                i.font-icon.icon-iconfont-zhanghu
                | 姓名
            | #{data.realname}
        li
            label.lab-title(for='')
                i.font-icon.icon-iconfont-shouji
                | 手机
            | #{data.mobile}
        li
            label.lab-title(for='')
                i.font-icon.icon-iconfont-shenfenyanzheng
                | 身份证
            | #{data.idCard}
    .page-line
    ul.order-list.member-list
        li
            a(href='/member/user')
                label.lab-title(for='')
                    i.font-icon.icon-iconfont-suo
                    | 账户中心
                i.font-icon.fr.icon-iconfont-jiantou
        li
            a(href='/coupons/member')
                label.lab-title(for='')
                    i.font-icon.icon-iconfont-hongbao
                    | 我的优惠券
                i.font-icon.fr.icon-iconfont-jiantou
        li
            a(href='/coupons/list')
                label.lab-title(for='')
                    i.member-ico.mico-lqcoupons
                    | 领取优惠券
                i.font-icon.fr.icon-iconfont-jiantou
        li
            a(href='/coupon/exchange')
                label.lab-title(for='')
                    i.member-ico.mico-lqcoupons
                    | 兑换优惠券
                i.font-icon.fr.icon-iconfont-jiantou
        //li
        //    a(href='/complaint/suggest')
        //        label.lab-title(for='')
        //            i.icon-iconfont-gantanhaom
        //            | 投诉建议
        //        i.font-icon.fr.icon-iconfont-jiantou
        //li
        //    a(href='/question/list')
        //        label.lab-title(for='')
        //            i.icon-questionnaire
        //            | 问卷调查
        //        i.font-icon.fr.icon-iconfont-jiantou
    .page-line
    ul.order-list.member-list
        //- li
        //-     a(href='/coupons/member')
        //-         label.lab-title(for='')
        //-             i.font-icon.icon-iconfont-hongbao
        //-             | 优惠劵
        //-         i.font-icon.fr.icon-iconfont-jiantou
        li
            a(href='/appoint/queue')
                label.lab-title(for='')
                    i.icon-paidui
                    | 排队查看
                i.font-icon.fr.icon-iconfont-jiantou
        li
            a(href='/member/linkMan/list')
                label.lab-title(for='')
                    i.member-ico.mico-linkman
                    | 常用游玩人
                i.font-icon.fr.icon-iconfont-jiantou
        li
            a(href='https://wzzdlyq.qiyukf.com/client?k=9043442f1a44a1780180c5459734227c&wp=1')
                label.lab-title(for='')
                    i.font-icon.icon-italk
                    | 客服
                i.font-icon.fr.icon-iconfont-jiantou
    //.page-line
    //ul.order-list.member-list
    //    li
    //        a(href='/list/integral')
    //            label.lab-title(for='')
    //                i.font-icon.icon-iconfont-indexjifen
    //                | 我的积分
    //            i.font-icon.fr.icon-iconfont-jiantou
    if mebFlag!==1
        ul.order-list.member-list
            li
                a#loginOut(href='javascript:;')
                    label.lab-title(for='')
                        i.font-icon.icon-iconfont-tuichu
                        | 退出登录
    .page-line
    +footer
    script.
        $(function () {
            $('#loginOut').click(function () {
                // var confirmDel = confirm('确认要退出登录');
                var confirmLogout = new TipLayer({
                    message: '确认要退出登录',
                    confirmType: 'confirm',
                    confirmCallBack: function () {
                        $.get('/loginOut')
                            .success(function (res) {
                                new ErrLayer({
                                    message: '退出成功'
                                });
                                window.location.href = '/login'
                            })
                            .error(function (err) {
                                window.location.href = '/error';
                            });
                    }
                })
            })
        })
