extends ../layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/appoint/myAppoint.css")
block javascripts
    script(type='text/javascript', src='/javascripts/appoint/myAppoint.js')
block content
    .appoint-ticket-box
        if data[0].data.length
            each item in data[0].data
                ul.appoint-ticket-list
                    li.appoint-ticket-name=item.projectName
                    each sitem,sindex in item.projectOrderList
                        li.appoint-ticket-item
                            span.appoint-ticket-no=sitem.ticketNo
                            span.appoint-ticket-amount x#{sitem.stockNum}
                            span.appoint-ticket-time #{sitem.beginTime+ "-" + sitem.endTime}
                            button.cancel-appont-btn(data-ticketno=sitem.ticketNo data-projectcode=sitem.projectinfoId) 取消预约
        else
            .no-data(style="text-align: center") 暂无预约信息

