extends ../layout
block stylesheets
    link(rel="stylesheet", href="/lib/swiper/swiper-3.4.2.min.css")
    link(rel="stylesheet", href="/stylesheets/booking/detail.css")
block javascripts
    script(type='text/javascript', src='/javascripts/booking/detail.js')
    script(type='text/javascript', src='/lib/swiper/swiper-3.4.2.jquery.min.js')
block content
    // 头部轮播
    if data[0].data.wapUrl
        .swiper-container.top-swiper
            ul.swiper-wrapper
                each item in data[0].data.wapUrl.split(",")
                    li.swiper-slide
                        img.swiper-slide-img(src='#{item}')
            .swiper-pagination
    // 头部信息
    .details-info
        h3.details-title.c-333=data[0].data.name
        .detail-content
            .detail-intrd
                .detail-cnt1.detail-cnt-z
                    p.car-price
                        label
                            em ￥
                            | #{data[0].data.price || 0}

                    //p.car-sales  已售 #{data[0].data.salesNum || 0}
            //.detail-comment
            //        a(href='/list/commentList?modelCode=' + data[0].data.rateCode + '&commentLevel=0')
            //            .det-score.fl
            //                if data[1].data.avgScore
            //                    span.comment-score.c-base
            //                        - var starNum = parseInt(data[1].data.avgScore)
            //                        - for (var i=0;i<starNum;i+=1)
            //                            i.font-icon.icon-iconfont-aixin
            //                        - for (var j=0;j<(5-starNum);j++)
            //                            i.font-icon.icon-iconfont-aixin.not-light
            //                        em #{data[1].data.avgScore}分
            //                    p #{data[1].data.count}条评论
            //            i.font-icon.fr.icon-iconfont-jiantou.fr
    .page-line
    // tab选项卡
    ul#details-tab.tours-details-tab.tab.clearfix.details-tab
        li
            a.active(href='javascript:;', data-div='book') 产品介绍
        li
            a(href='javascript:;', data-div='scenic') 购买须知
    .details-tab-panel
        #tab-panel.ticket-details-tabs(style='margin-left: 0%;')
            #book.details-tab-item(style='height: auto;')
                .tab-article!=data[0].data.content
            #scenic.details-tab-item
                .tab-article!= data[0].data.notice
    .page-line
    .order-footer
        .order-total.float-layer
            ul.nav-pro
                li.nav-lipro
                    a.home.on(href='/')
                        //i.icon-ihome
                        img(src='/images/common/nav-icon1-on.png' style='height: 1rem;vertical-align: unset;')
                        p 首页
                // 只有wap官网有客服
                if projectNameCode == 'official'
                    li.nav-lipro
                        a(href='https://wzzdlyq.qiyukf.com/client?k=9043442f1a44a1780180c5459734227c&wp=1')
                            //i.icon-italk
                            img(src='/images/common/nav-icon4.png' style='height: 1rem;vertical-align: unset;')
                            p 客服
            a.formBtn.fr.btn-order.background-base(href='/booking/order?rateCode=' + data[0].data.rateCode) 立即购买
