//- 评论列表
mixin commentList(data)
    if data.length
        each item in data
            li
                .comment-list-top
                    // 是否为匿名
                    if item.isAnonymous == 1
                        if item.leaguerName.length>2
                            b #{item.leaguerName[0]}***#{item.leaguerName[item.leaguerName.length-1]}
                        else
                            b #{item.leaguerName[0]}***
                    else
                        b 匿名评论
                    span.fr
                        - var score = parseInt(item.score||0)
                        - for(var i=0;i<score;i++)
                            i.icon-iconfont-aixin
                        - for(var j=score;j<5;j++)
                            i.icon-iconfont-aixin.not-light
                        em #{item.score}分
                p.comment-list-img
                    each img in item.picList
                        .comment-list-img-item
                            img(src=img.url)
                p.comment-list-info=item.content
                if item.replyContent
                    p.replayContent=item.replyContent
                .comment-date=item.createTime
//- 攻略
mixin strategyList(data)
    if data.length
        each item in data
            li
                -var href = '/detail/strategy/' + item.baseCode;
                if item.link || item.url
                    - href = item.link || item.url
                a.clearfix(href=href)
                    .raiders-img
                        img(alt='图片', src=item.face_img)
                    .raiders-info
                        h3=item.name
                        p
                            span
                                i.font-icon.icon-clock
                                | #{item.createTime}
                            if !item.link && !item.url
                                span.fr
                                    i.font-icon.icon-views
                                    | #{item.viewNum}
if method === "ajax"
    if module == 'commentList'
        +commentList(data)
    if module == 'strategy'
        +strategyList(data)
